.box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-color: #ffc0cb;
    border: 1px solid black;
    color: black;
}

.box-nested {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-color: #f07f80;
    border: 1px solid white;
    color: black;
}

@media screen and (min-width:768px) {

    .box{
        min-height: 200px;
    }

    .box-nested{
        min-height: 200px;
    }
}