.box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh / 5);
    background-color: #ffc0cb;
    border: 1px solid black;
    color: black;
}

.box-nested {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh / 5);
    background-color: #f07f80;
    border: 1px solid white;
    color: black;
}